<div class="topmenu">
    <div class="navbar navbar-inverse navbar-fixed-top" style="position: initial">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/admin/">Админка 3.0</a>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
              <li class=""><a href="./base-css.html">Base CSS</a></li>
              <li class=""><a href="./components.html">Components</a></li>
              <li class="active"><a href="./javascript.html">JavaScript</a></li>
              <li class=""><a href="./customize.html">Customize</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>


    <div class="tabbable">
      <ul class="nav nav-tabs" style="padding-left: 150px;">
      {% for tab in topmenu %}
        <li class="{% if loop.first %}active{% endif %}"><a href="#{{ tab.id }}" data-toggle="tab">{{ tab.title }}</a></li>
      {% endfor %}
      <!--  <li class="active"><a href="#tab1" data-toggle="tab">Администрирование</a></li> -->
      </ul>
      <div class="tab-content">
      {% for tab in topmenu %}
        <div class="tab-pane{% if loop.first %} active{% endif %}" id="{{ tab.id }}">
        {% for subitem in tab.items %}
          <div class="btn-group">  
            <a class="btn" href="{{ subitem.href }}">{{ subitem.title }}</a>
          </div>
        {% endfor %}
        </div>
      {% endfor %}
      </div>
    </div>
    
</div>